.menu {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu .menuTitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
}
.menu .menuSubTitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}

.menuList {
  width: 80vw;
  height: auto;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  place-items: center;
}

/* MENU ITEM STYLING */

.menuItem {
  background-color: #F9F9F9 ;
  border-radius: 15px;
  width: 300px;
  height: 370px;
  margin: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.menuItem:hover {
  box-shadow: 0px 3px 11px rgba(33,33,33,0.7);
  cursor: pointer;
}

.menuItem div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.menuItem div:hover {
  transform: scale(0.9);
  border-radius: 15px;
  margin-top: 5px;
}

.menuItem h1 {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(22,22,22);
}

.menuItem p {
  font-weight: bold;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: tomato;
}

#btn {
  border:5px yellowgreen solid;
  border-radius: 5px;
  background-color: yellowgreen;
  color: white;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  margin: 5px;
  cursor: pointer;
}

#btn:hover {
  transform: scale(1.1);
}

input[type=text] {
  border: 3px whitesmoke solid;
  border-radius: 5px;
  background-color: whitesmoke;
  color: black;
}

@media only screen and (max-width: 1300px) {
  .menuList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .menuList {
    grid-template-columns: 1fr;
  }
}